voila
earthengine-api

git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

# custom libs
GDAL==3.8.3
tensorflow_probability
tensorflow
pandas
rasterio

# trigger build
tf-keras # now required TF-Keras is not installed by default when you install TensorFlow Probability